.browsehappy {
  background-color: #00AEEF;
  color: #FFF;
  font-weight: 300;
  span {
    display: block;
    padding: 32px 0;
  }
  b {
    font-weight: 400;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}
