.bubble {
  text-align: center;
  margin: 0 auto 2.75em;
  max-width: 240px;
  padding: 0 10px;

  a {
    display: block;
  }
}

.bubble a:hover .bubble-image:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}

.bubble a:hover .bubble-image:before {
  opacity: 1;
}

.bubble-header {}

.bubble-footer {
  padding: 1em 0;
  p {
    margin: 0;
  }
}

.bubble-title {}

.bubble-image {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: scaleZ(1);

  &:after,
  &:before {
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before {
    background-color: fade-out($primary, .2);
    border-radius: 50%;
    transform: scale3d(1,1,1);
    transition: all 400ms ease;
  }

  &:after {
    background-image: url('../images/bubble-after.png');
    background-size: cover;
    transform: scale3d(1.2,1.2,1);
    transition: all 150ms 100ms ease-out;
  }

  img {
    display: block;
    width: 100%;
  }
}

.bubble-content  {
  display: none;
  text-align: justify;

  img {
    float: right;
    margin-bottom: 2.5em;
    margin-left: 1em;
    width: 45%;
  }

  img + p {
    margin-top: -.625em;
  }

  p:last-of-type {
    margin-bottom: 2.5em;
  }
}


.services-footer {
  background-color: white;
  clear: both;
  margin: 0;
  margin-top: 2.5em;
  padding: 20px;
  @media screen and (min-width: 640px) {
    text-align: center;
  }

  li {
    display: block;
    list-style: none;
    margin: .15em .5em .15em 0;
    @media screen and (min-width: 420px) {
      display: inline-block;
    }

    &:before {
      content: '•';
      margin-right: .5em;
    }
  }
}
