button,
.button {
  background-color: $primary;
  background-image: radial-gradient(circle, fade-out($primary, 1), fade-out($primary, .2));
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 hsla(0,0%,0%,0),
              0 0 0 hsla(0,0%,0%,0);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 700;
  padding: .6666666666em .9444444444em;
  text-align: center;
  text-shadow: 0 1px 0 hsla(0,0%,0%,0);
  text-transform: uppercase;
  transition: all 150ms ease-out;

  &:hover {
    background-color: lighten($primary, 10%);
    box-shadow: 0 1px 1px hsla(0,0%,0%,.2),
                0 0 10px hsla(0,0%,0%,.1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.1);
  }
}
