.contact-card {
  background-color: $white;
  box-shadow: 0 2px 5px fade-out($black, .9);
  margin: 0 auto;
  padding: 1.875em 1.25em;
  position: relative;
  width: 100%;
  z-index: 2;
  @include min-width(480px) {
    max-width: 350px;
  }
  @include min-width(640px) {
    float: right;
  }

  p {
    font-size: .9375em;
    font-weight: 300;
    line-height: 1.4666666666;
  }

  b {
    color: hsl(0,0%,10%);
    font-weight: 400;
  }

  .contact-hours {
    text-transform: uppercase;
  }

  small {
    color: $lightGrey;
    font-size: 1em;
  }

  .button {
    display: block;
  }
}
