textarea,
input[type=tel],
input[type=text],
input[type=email] {
  box-shadow: inset 1px 1px 2px hsla(0,0%,0%,.1);
  border: 1px solid hsl(0,0%,85%);
  border-radius: 2px;
  display: block;
  font-weight: 300;
  outline: 0;
  padding: .45em .65em;
  transition: all 150ms ease;
  width: 100%;

  &:focus {
    border-color: $primary;
    box-shadow: inset 1px 1px 2px hsla(0,0%,0%,.1),
                0 0 5px fade-out($primary, .5);
  }
}

.validetta-error {
  input,
  textarea {
    border-color: #f44336;
    box-shadow: inset 1px 1px 2px hsla(0,0%,0%,.1),
    0 0 5px transparent;
  }
  .validetta-bubble {
    display: none;
  }
}

input[type=radio] {
  display: none;

  &:checked + label:before {
    background-position: 0 100%;
    cursor: default;
  }

  .lt-ie9 & {
    display: inline;
  }
}

.label-radio:before {
  background-image: url('../images/input-radio.png');
  background-size: 20px 40px;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  top: 4px;
  width: 20px;
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) {
    background-image: url('../images/input-radio@2x.png');
  }
  .lt-ie9 & {
    display: none;
  }
}

.is-checked:before {
  background-position: 0 100%;
  cursor: default;
}

textarea {
  height: 9em;
  resize: none;
}

label,
legend {
  color: $grey;
  display: block;
  margin-bottom: .125em;
  font-size: .9375em;
  span {
    color: $lightGrey;
    font-size: .8em;
  }
}

.label-radio {
  display: inline-block;
  font-size: .75em;
  margin-right: 1em;
  span {
    color: $grey;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-header {
  border-bottom: 1px solid $lightGrey;
  padding-bottom: 1em;
}
.form-footer {
  border-top: 1px solid $lightGrey;
  margin-top: 1em;
  padding-top: 1em;
  position: relative;

  small {
    color: $grey;
  }

  button {
    position: absolute;
    right: 0;
    top: 1em;
  }
}
