.list-download {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background-image: url('../images/list-bullet.png');
    background-position: left center;
    background-position: left .5em;
    background-repeat: no-repeat;
    background-size: 18px 12px;
    margin-bottom: .5em;
    padding-left: 2em;
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) {
      background-image: url('../images/list-bullet@2x.png');
    }
  }

  a {
    color: $grey;
    font-size: 1.125em;
    font-weight: 300;
  }
}
