.list-vita {
  font-size: .9375em;
  text-align: center;
  @include min-width(640px) {
    text-align: left;
  }

  dt,
  dd {
    @include max-width(639px) {
      padding: 0 3em;
    }
  }

  dt {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    color: $grey;
    margin: 0;
  }
}
