.main-footer {
  background-color: white;
  padding: .8125em 0;
  text-align: center;
  @include min-width(640px) {
    text-align: inherit;
  }
}

.footer-copyright {
  //margin: 0;
  font-size: .9375em;
  text-transform: uppercase;
  @include min-width(640px) {
    float: left;
    margin: 0;
  }
}

.footer-navigation {
  @include min-width(640px) {
    float: right;
  }

  a {
    color: $grey;
  }
}
