.headhesive {
  background-color: white;
  display: none;
  height: 56px !important;
  left: 0 !important;
  padding: 0 !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 50;
  box-shadow: 0 1px 2px fade-out($black, 1);
  transition: all 250ms ease-out;
  transform: translateY(-56px);
  @extend %clearfix;
  @include min-width(600px) {
    display: block;
  }

  .header-logo {
    background-image: url('../images/logo-alt-rechtsanwaeltin-nolte.png');
    background-size: 142px 30px;
    height: 30px;
    float: left;
    margin: 13px 0;
    width: 142px;
    @media screen and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 600px) and (min-resolution: 192dpi) {
      background-image: url('../images/logo-alt-rechtsanwaeltin-nolte@2x.png');
    }
  }

  .main-navigation {
    bottom: 17px;
  }

  .main-navigation li {
    padding-bottom: 0;
  }
}

.headhesive--stick {
  box-shadow: 0 1px 2px fade-out($black, .6);
  transition: all 200ms ease-out;
  transform: translateY(0);
}


.main-header {
  background-color: $white;
  padding: 1em 0;
  overflow: hidden;
  position: relative;
  @include min-width(600px) {
    height: 180px;
    padding: 1.25em 0 1.6875em;
  }
}

.header-logo {
  background-image: url('../images/logo-alt-rechtsanwaeltin-nolte.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 142px 30px;
  display: block;
  height: 30px;
  margin: 1em 0 1.5em .8em;
  width: 142px;
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) {
    background-image: url('../images/logo-alt-rechtsanwaeltin-nolte@2x.png');
  }
  @include min-width(600px) {
    background-image: url('../images/logo-rechtsanwaeltin-nolte.png');
    background-size: 112px 118px;
    height: 118px;
    margin-bottom: 0;
    width: 112px;
  }
  @media screen and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 600px) and (min-resolution: 192dpi) {
    background-image: url('../images/logo-rechtsanwaeltin-nolte@2x.png');
  }

  span {
    color: transparent;
    direction: ltr;
    display: block;
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
  }
}

.navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 1.5625 / 2 * 1em;
    position: relative;
    @include min-width(600px) {
      margin-left: 1.5625em;
      margin-right: 0;
    }
  }

  a {
    font-family: 'Oswald', sans-serif;
    font-size: .9375em;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    transition: color 200ms ease-out;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.main-navigation {
  position: relative;
  @include min-width(600px) {
    bottom: -.9em;
    position: absolute;
    right: $gutterWidth;
  }
  @include min-width(640px) {
    bottom: -1.375em;
  }

  li {
    @include min-width(600px) {
      padding-bottom: 2.0625em;
      position: relative;
    }

  }

  a {
    color: $secondary;
    @include min-width(640px) {
      &:after {
        background-color: $primary;
        bottom: -42px;
        height: 3px;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        transition: all 250ms ease;
      }

      &:hover:after {
        opacity: 1;
        transform: translateY(-3px);
      }
    }
  }
}
