.section {
  padding: 50 / 16 * 1em 0;
  position: relative;
}

.section-hidden {
  display: none;
}

.section-header {
  margin-bottom: 3.25em;
}

.section-title {
  line-height: 1.25em;
  margin-bottom: .325em;
  margin-top: -.375em !important;
  text-align: center;
}

.section-description {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3333333333em;
  margin-bottom: 3.3333333333em;
  margin-top: 0;
  padding: 0 $gutterWidth;
  text-align: center;
  @include min-width(640px) {
    font-size: 1.5em;
    padding: 0;
  }
}

.section-footer {
  text-align: center;
}
