.section-hero {
  background-image: url('../images/hero-bg-small.jpg');
  background-image: radial-gradient(circle, hsla(0,0%,0%,0), hsla(0,0%,0%,.5)),
                    url('../images/hero-bg-small.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  @media screen and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-resolution: 192dpi) {
    background-image: url('../images/hero-bg-small@2x.jpg');
    background-image: radial-gradient(circle, hsla(0,0%,0%,0), hsla(0,0%,0%,.5)),
                      url('../images/hero-bg-small.jpg');
  }
  @include min-width(640px) {
    background-image: url('../images/hero-bg-large.jpg');
    background-size: auto 100%;
    background-size: cover;
    height: 450px;
  }
  @media screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-width: 640px) and (min-resolution: 192dpi) {
    background-image: url('../images/hero-bg-large@2x.jpg');
    background-size: auto 100%;
    background-size: cover;
    height: 450px;
  }
  @media screen and (min-width: 860px) {
    background-image: url('../images/hero-bg-large@2x.jpg');
  }

  .grid-container {
    margin: auto;
  }

  .section-title,
  .section-description {
    color: $white;
    text-shadow: 0 1px 3px hsla(0,0%,0%,.6);
  }

  .section-description {
    font-weight: 400;
  }
}

.lt-ie9 .section-hero {
  background-color: $lightGrey;
  background-image: none;
  height: auto;
  padding: 80px 0 64px;
}
