*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: hsl(0,0%,90%);
}

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
