$white:      hsl(0,0%,100%);
$lightGrey:  hsl(0,0%,80%);
$grey:       hsl(0,0%,50%);
$darkGrey:   hsl(0,0%,20%);
$black:      hsl(0,0%,0%);

$primary:    hsl(198,100%,50%);
$secondary:  hsl(205,25%,20%);
