$gutterWidth: 10px;

.grid-container {
    margin: 0 auto;
    max-width: 880px;
    position: relative;
}

.grid-row {
    padding-left: $gutterWidth;
    *zoom: 1;
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.grid-row-noPadding {
  padding-left: 0;
}

.grid-col,
[class*='grid-col-'] {
    float: left;
    padding-right: $gutterWidth;
    position: relative;
}

.grid-col-right {
  float: right;
}

.grid-col-1 {
    width: 100%;
}
.grid-col-1-2 {
    width: 50%;
}
.grid-col-1-2:last-child:nth-child(odd) {
  @include max-width(639px) {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.grid-col-1-3 {
    width: 33.333%;
}
.grid-col-2-3 {
    width: 66.666%;
}
.grid-col-1-4 {
    width: 25%;
}
.grid-col-1-5 {
    width: 20%;
}
.grid-col-4-5 {
  width: 80%;
}
.grid-col-1-6 {
    width: 16.666%;
}
.grid-col-1-7 {
    width: 14.285%;
}
.grid-col-1-8 {
    width: 12.5%;
}

.grid-medium-col-1-2 {
  @include min-width(640px) {
    width: 50%;
  }
}

.grid-medium-col-1-3 {
  @include min-width(640px) {
    width: 33.333%;
  }
}

.grid-medium-col-1-4 {
  @include min-width(920px) {
    width: 25%;
  }
}
.grid-medium-col-1-5 {
  width: 20%;
}
.grid-medium-col-4-5 {
  width: 80%;
}

.module-1 {
    background-color: red;
    padding-top: 60%;
}
