$legacy: false !default;

@mixin min-width($min-width) {
  @if $legacy {
    @content;
  } @else {
    @media screen and (min-width: $min-width) {
      @content;
    }
  }
}

@mixin max-width($max-width) {
  @if $legacy == false {
    @media screen and (max-width: $max-width) {
      @content;
    }
  }
}
