/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * {
    //background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-align: left !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  .section-contact .contact-card a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img,
  .section-contact {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .headhesive--stick,
  .headhesive--unstick {
    display: none !important;
  }

  .grid-container {
    max-width: 100%;
  }

  .grid-row {
    padding-left: 0;
  }

  .grid-col,
  [class*='grid-col-'] {
    padding-right: 0;
  }

  .button {
    display: none !important;
  }

  .main-navigation {
    display: none;
  }

  .header-logo {
    background: none;
    content: url('../images/logo-alt-rechtsanwaeltin-nolte@2x.png');
    margin-bottom: 1em;
  }

  .main-header {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2em;
  }

  .section-description {
    padding: 0;
  }

  .section-hero {
    background: none;
    height: auto;
    padding: 2em 0 0;
  }
  .section-hero .section-description {
    margin-bottom: 1em;
  }

  .section-services .grid-medium-col-1-3 {
    display: inline-block;
    float: none;
    padding-right: 20px;
    width: 45%;
  }
  .section-services #services-vertragsrecht {
    margin-bottom: 6em;
  }
  .fancy-inner .bubble,
  .section-services .bubble {
    //page-break-inside: avoid;
    padding: 0;
    max-width: 100%;
  }
  .fancy-inner .bubble-image,
  .section-services .bubble-image {
    display: none;
  }
  .bubble {
    margin-bottom: 0;
  }
  .bubble-content {
    display: block;
  }
  .bubble-content img {
    margin: 0;
    max-width: 200px !important;
  }
  .bubble-content p {
    font-size: .9em;
    padding: 0;
    padding-right: 2em;
    text-align: justify;
  }
  .services-footer {
    column-count: 1;
    margin-top: 2em;
    padding: 0;
    padding-right: 2em;
  }
  .services-footer li {
    color: hsl(0,0%,40%) !important;
    display: inline-block;
    font-size: .9em;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 0;
  }
  .services-footer li:after {
    content: ','
  }
  .services-footer li:before {
    display: none;
  }

  .section-firm {
    display: inline-block;
    width: 45%;
  }

  .section-firm .title-image {
    content: url('../images/firm-testimonial-small@2x.jpg');
    width: 100%;
  }
  .section-firm .title-image:after {
    display: none;
  }
  .section-firm .section-description {
    max-width: 400px;
  }
  .section-firm .list-vita {
    max-width: 300px;
  }

  .section-team {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    width: 45%
  }
  .section-team .grid-col-1-2 {
    display: inline-block;
    float: none;
    margin-bottom: 2em;
    width: 48%;
    vertical-align: top;
  }
  .section-team p,
  .section-team a,
  .section-team h3 {
    font-size: .8em;
    text-align: center !important;
  }
  .section-team a[href]:after {
    display: none;
  }

  .section-download {
    display: none;
  }


  .section-contact {
    background: none;
    border-top: 1px solid #cccccc;
    padding: 0;
  }
  .section-contact #map-canvas {
    display: none;
  }
  .section-contact .contact-card {
    float: none;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .section-contact .contact-card p {
    float: left;
    margin: 0;
    margin-bottom: 1em;
    margin-right: 2em;
  }
  .section-contact .contact-hours + p {
    margin-bottom: 2em;
    clear: both;
    float: none;
  }
  .section-contact .contact-logo {
    background: none;
    padding-left: 0;
  }

  .footer-copyright {
    color: #cccccc;
    font-size: .8em;
  }

  .main-footer a {
    display: none;
  }

  .print-detail .section {
    display: none;
  }
  .print-detail .section-contact {
    display: block;
  }

  .fancybox-lock,
  .fancybox-lock body {
    overflow: visible !important;
  }

  .fancybox-overlay,
  .fancybox-wrap {
    overflow: visible !important;
    position: static !important;
    width: 100% !important;
  }

  .fancybox-wrap {
    margin-bottom: 1em;
  }
  .fancybox-skin {
    margin-bottom: 0 !important;
  }

  .fancybox-inner {
    height: auto !important;
    overflow: visible !important;
    padding: 0;
  }

  .fancybox-inner .bubble-content {
    display: block !important;
  }
  .fancybox-inner .bubble-content p {
    font-size: 1em;
    margin-top: 0;
  }
  .fancybox-inner .bubble-content img {
    float: left;
    margin-bottom: .5em;
    margin-right: 1em;
  }

  .fancybox-title {
    padding: 0;
    padding-bottom: 1em;
  }

}
