*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  @include min-width(640px) {
    font-size: 16px;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkGrey;
  font-weight: 400;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }

  + p {
    margin-top: 0;
  }
}

h1,
h2 {
  font-size: 1.8em;
  @include min-width(640px) {
    font-size: 2.5em;
  }
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

h3 {
  margin-bottom: .5em;
}

h4 {
  font-size: .875em;
  margin-bottom: .5em;
}

p {
  color: $grey;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

q {
  quotes: "“" "”" "‘" "’";
  :before {
    content: open-quote;
  }
  :after {
    content: close-quote;
  }
}

small {
  color: $grey;
  font-weight: 300;
}
