<table bgcolor="#f2f2f2" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div class="card-wrapper" style="background-color: #f2f2f2; font-family: Helvetica, sans-serif; padding: 10px;">
                <div class="card" style="background-color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-left: 1px solid rgba(0, 0, 0, 0.07); border-right: 1px solid rgba(0, 0, 0, 0.07); box-shadow: 0 2px 4px rgba(0,0,0,.1); margin: 0 auto 64px; max-width: 500px; padding: 20px 20px 60px">
                    <div class="card-header" style="margin-bottom: 64px; text-align: center;">
                        <img src="http://clients.chrisgrabinski.com/rechtsanwaltin-nolte/assets/images/logo-rechtsanwaeltin-nolte.png" alt="Astrid Nolte" height="113" width="111">
                    </div>
                    <div class="card-body">
                        <div style="margin-bottom: 32px;">
                            <h1 style="color: #444444; font-size: 18px; margin: 0; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $reference .'Nachricht vom '. $date .'</h1>
                        </div>
                        <div style="border-bottom: 1px solid #cccccc; margin-bottom: 32px; padding-bottom: 32px;">
                            <h2 style="color: #999999; font-size: 14px; margin: 0; text-transform: uppercase; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">Nachricht</h2>
                            <p style="color: #2b3133; font-size: 14px; line-height: 18px; margin: 8px 0 24px; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $message .'</p>
                            <a href="mailto:'. $email .'?subject='. $reference .'Ihre Nachricht vom '. $date .'" style="background-color: #00B2FF; background-image: radial-gradient(circle, rgba(0, 178, 255, 0), rgba(0, 178, 255, 0.8)); border: 0; border-radius: 3px; color: white; cursor: pointer; display: inline-block; font-size: 16px; font-weight: 700; padding: 12px 14px 10px; text-align: center; text-shadow: 0 1px 0 hsla(0,0%,0%,0); text-transform: uppercase; transition: all 150ms ease-out; text-decoration: none; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">Sofort antworten</a>
                        </div>
                        <div>
                            <h2 style="color: #999999; font-size: 14px; margin: 0 0 16px; text-transform: uppercase; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">Kontaktdaten</h2>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td></td>
                                    <td style="color: #2b3133; font-size: 14px; padding-left: 16px; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $formSalutation .'</td>
                                </tr>
                                <tr>
                                    <td style="color: #999999; font-size: 12px; text-transform: uppercase; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">Name</td>
                                    <td style="color: #2b3133; font-size: 14px; padding-left: 16px; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $firstname .' '. $lastname .'</td>
                                </tr>
                                '. $company .'
                                <tr>
                                    <td style="color: #999999; font-size: 12px; text-transform: uppercase; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">Anschrift</td>
                                    <td style="color: #2b3133; font-size: 14px; padding-left: 16px; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $street .'</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 8px;"></td>
                                    <td style="padding-bottom: 8px; color: #2b3133; font-size: 14px; padding-left: 16px; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $zip .' '. $city .'</td>
                                </tr>
                                <tr>
                                    <td style="color: #999999; font-size: 12px; text-transform: uppercase; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">Telefon</td>
                                    <td style="color: #2b3133; font-size: 14px; padding-left: 16px; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">'. $phone .'</td>
                                </tr>
                                <tr>
                                    <td style="color: #999999; font-size: 12px; text-transform: uppercase; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">E-Mail</td>
                                    <td style="color: #2b3133; font-size: 14px; padding-left: 16px; vertical-align: bottom; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;"><a href="mailto:'. $email .'?subject='. $reference .'Ihre Nachricht vom '. $date .'" style="color: #00B2FF; text-decoration: none;">'. $email .'</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p style="color: #999999; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;"><small style="font-size: 11px;">Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort Rechtsanwältin Astrid Nolte per E-Mail unter <a href="mailto:mail@ra-nolte.net" style="color: #00B2FF; text-decoration: none;">mail@ra-nolte.net</a> und löschen Sie diese E-Mail. Das unerlaubte Kopieren sowie die unbefugte Weitergabe dieser E-Mail und der darin enthaltenen Informationen ist nicht gestattet. Vielen Dank.</small></p>
                    <p style="color: #999999; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;"><small style="font-size: 11px;">This e-mail may contain confidential and/or privileged information. If you are not the intended recipient (or have received this email in error) please immediately notify Astrid Nolte at <a href="mailto:mail@ra-nolte.net" style="color: #00B2FF; text-decoration: none;">mail@ra-nolte.net</a> and delete this e-mail. Any unauthorized copying, disclosure or distribution of the material in this e-mail is strictly forbidden. Thank you for your cooperation.</small></p>
                </div>
            </div>
        </td>
    </tr>
</table>
