.section-contact {
  background-color: $lightGrey;
  padding: 3.75em 0;
}

.contact-logo {
  background-image: url('../images/contact-logo-large.png');
  background-position: 0 0;
  background-size: 37px 63px;
  background-repeat: no-repeat;
  min-height: 63px;
  padding-left: 3.5em;
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) {
    background-image: url('../images/contact-logo-large@2x.png');
  }
  @include min-width(640px) {
    background-position: 0 4px;
  }
}
