.section-download {
  border-bottom: 1px dashed $grey;
  padding-top: 0;

  .section-header {
    border-bottom: 1px dashed $grey;
    border-top: 1px dashed $grey;
    padding: 1.25em 0 .6em;
    @include min-width(640px) {
      padding: 1.25em 0 .6em;
    }
  }

  .section-title,
  .section-description {
    display: inline-block;
    text-align: left;
  }

  .section-title {
    color: $primary;
    margin-bottom: 0 !important;
    margin-right: 10px;
  }

  .section-description {
    font-size: 1em;
    font-weight: 400;
    .lt-ie9 & {
      margin-bottom: 0;
    }
  }
  a {
    transition: color 150ms ease;
  }
  a:hover {
    color: $primary;
  }
}
