.section-firm {
  position: relative;
  @include max-width(639px) {
    padding-bottom: 0;
  }
  @include min-width(640px) {
    background-color: hsl(0,0%,97%);
    background-image: url('../images/firm-background.jpg');
    background-size: cover;
    box-shadow: inset 0 0 125px hsla(0,0%,0%,.25);
    //background-image: radial-gradient(circle, hsla(0,0%,95%,1), hsla(0,0%,90%,0));
  }
}

.title-image {
  background-image: url('../images/firm-testimonial-small.jpg');
  background-size: cover;
  margin-bottom: 3em;
  @media screen and (max-width: 639px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (max-width: 639px) and (min-resolution: 192dpi) {
    background-image: url('../images/firm-testimonial-small@2x.jpg');
  }
  @include min-width(640px) {
    background-image: url('../images/firm-testimonial-large.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 90%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 0;
    position: absolute;
    right: 45%;
    top: 0;
  }
  @include min-width(720px) {
    right: 50%;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 70%;
    @include min-width(640px) {
      display: none;
    }
  }
}

.vita-headline {
  @include max-width(639px) {
    text-align: center;
  }

  span {
    display: block;
    font-size: 15px;
    margin-top: 1em;
  }
}
