.section-contact {
  padding-top: 80%;
  @include min-width(500px) {
    padding-top: 45%;
  }
  @include min-width(640px) {
    padding-top: 3.125em;
  }
}

#map-canvas {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  &:before {
    display: none;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}
